.conversion-form {
  display: block;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;

  input,
  select {
    appearance: none;
    border: 1px solid map-get($colours, lgrey);
    color: map-get($colours, grey);
    height: 4rem;
    padding: 0 .8rem;
    width: 100%;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
  }
}

.form-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem 2rem;

  > div {
    padding: 0 1rem;
    width: 50%;
  }
}

.overview {
  margin-bottom: 1.5rem;

  div {
    margin-bottom: 1rem;

    &:last-child {
      color: map-get($colours, grey);
      margin-bottom: 0;
    }
  }

  div {
    &:first-child {
      span {
        color: map-get($colours, grey);
        font-size: 1.4rem;
      }
    }

    &:nth-child(2) {
      span {
        font-size: 3rem;
      }
    }
  }
}

.is-invalid {
  input {
    border: 1px solid map-get($colours, 'error');
  }

  span {
    color: map-get($colours, 'error');
  }
}
