.nav {
  border-bottom: 1px solid map-get($colours, lgrey);
  margin: 0 auto;
  max-width: 480px;
  padding: 2rem 0;
  text-align: center;

  a {
    color: map-get($colours, charcoal);
    padding: 0 1.5rem;
    text-decoration: none;

    &:hover,
    &.router-link-exact-active {
      color: map-get($colours, brand);
    }
  }
}
