.table {
  list-style: none;
  margin: 4rem auto 0;
  max-width: 780px;
  padding: 0;
  width: 100%;
}

.trow {
  border-bottom: 1px solid map-get($colours, lgrey);
  display: flex;
  justify-content: space-between;
}

.tcell {
  align-items: center;
  display: flex;
  flex: 0 0 calc(25% - 15px);
  font-size: 1.4rem;
  max-width: calc(25% - 15px);
  padding: 1rem;
}

.th {
  font-weight: bold;
}

.tbody {
  background-color: lighten(map-get($colours, grey), 25%);

  &:nth-child(odd) {
    background-color: map-get($colours, white);
  }
}

.delete {
  align-items: center;
  display: flex;
  flex: 0 0 60px;
  font-size: 1.4rem;
  max-width: 60px;
  padding: 1rem;

  button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;

    &:hover {
      svg {
        fill: map-get($colours, grey);
      }
    }

    svg {
      max-height: 2rem;
      max-width: 2rem;
    }
  }
}
