* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: map-get($colours, charcoal);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#app {
  height: 100vh;
}

.currency-converter {
  height: 100%;
}
